In [10]:

import pandas as pd
import numpy as np
import requests

Requirement already satisfied: requests in c:\users\ayush singh\appdata\local\programs\python\python39\lib\site-packages (2.32.3)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\ayush singh\appdata\local\programs\python\python39\lib\site-packages (from requests) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ayush singh\appdata\local\programs\python\python39\lib\site-packages (from requests) (2024.12.14)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\ayush singh\appdata\local\programs\python\python39\lib\site-packages (from requests) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ayush singh\appdata\local\programs\python\python39\lib\site-packages (from requests) (3.10)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 20.2.3; however, version 25.1.1 is available.
You should consider upgrading via the 'c:\users\ayush singh\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

Empty DataFrame
Columns: []
Index: []

In [11]:
df=pd.DataFrame()
df
for i in range (1,9):
    response=requests.get('https://api.nasa.gov/neo/rest/v1/feed?start_date=2025-02-01&end_date=2025-02-8&api_key=DEMO_KEY')
    temp_data=pd.DataFrame(response.json()['near_earth_objects']['2025-02-0{}'.format(i)])[['id','neo_reference_id','name','absolute_magnitude_h','is_potentially_hazardous_asteroid','is_sentry_object']]
    df = pd.concat([df, temp_data], ignore_index=True)

In [12]:
df

,id,neo_reference_id,name,absolute_magnitude_h,is_potentially_hazardous_asteroid,is_sentry_object
0,3729141,3729141,(2015 TQ21),27.40,False,False
1,3741971,3741971,(2016 CA30),27.50,False,False
2,3743127,3743127,(2016 CZ192),24.60,False,False
3,3745113,3745113,(2016 EL27),26.10,False,False
4,3797901,3797901,(2018 BG5),24.08,False,False
...,...,...,...,...,...,...
117,54518079,54518079,(2025 CK),28.25,False,False
118,54518918,54518918,(2025 CK2),24.34,False,False
119,54520537,54520537,(2025 DD5),23.20,False,False
120,54520713,54520713,(2025 DX5),23.28,False,False
121,54520813,54520813,(2025 DQ7),21.67,True,False

In [14]:
df.to_csv("asteroids.csv", index=False, encoding='utf-8', sep=',', quotechar='"')